{% extends "base.html" %} {% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>Admin</h1>
    <form action="" method="post" novalidate>
      <div class="border p-4 rounded">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}<br />
          {{ form.username(size=32, class="form-control") }}<br />
          {% for error in form.username.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.password.label }}<br />
          {{ form.password(size=32, class="form-control") }}<br />
          {% for error in form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
