{% extends "base.html" %}
{% set active_page = "login" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1>{{ page_title }}</h1>
            <form action="" method="post" novalidate>
                <div class="shadow-lg p-4 rounded-4">
                    {{ form.hidden_tag() }}
                    <div class="row g-4 mb-3 justify-content-center">
                        <div class="col-md-8">
                            {{ form.username(placeholder="Username", size=32, class="form-control form-control-lg text-center shadow-sm", required=True) }}
                            {% for error in form.username.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}
                        </div>
                    </div>
                    <div class="row g-4 mb-3 justify-content-center">
                        <div class="col-md-8">
                            {{ form.password(placeholder="Password", size=32, class="form-control form-control-lg text-center shadow-sm", required=True) }}
                            {% for error in form.password.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}
                        </div>
                    </div>
                    <div class="form-check d-flex align-items-center justify-content-center mb-3">
                        {{ form.remember_me(class="form-check-input me-2") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-6">{{ form.submit(class="btn btn-primary btn-lg w-100 rounded-pill shadow-sm") }}</div>
                    </div>
                </div>
            </form>
            {% if page_title == "Client" %}
                <div class="mt-3">
                    <a class="btn btn-outline-primary rounded-pill"
                       href="{{ url_for("auth.register_client") }}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
